# Datasets
datasets/
*.tgz
*.tar.gz
*.zip
*.tar
*.rar

# Saved models
saved_models/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~
tools/__pycache__/cait_features.cpython-38.pyc
tools/__pycache__/deit_features.cpython-38.pyc


# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
readme_stash/
plots_v1
ablation_studies
ablation_studies_safe
robustness_results_sev5.json
robustness_results_sev5.json.backup
summary_stats.json